body{
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 1;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.text p, .text ol, .text li, .text ul, .text h2{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 37%;
}

.text-2 ol, .text-2 li, .text-2 h2{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 37%;
}

html{
	scroll-behavior: smooth;
}

.header{
    width: 1280px;
    height: 200px;
    top: 0;
    left: 0;
}

.nav-img{
    vertical-align: middle;
}

.menu-bar ul{
    background-image: linear-gradient(to right, #cc6183 , #cc6183, #eb6b38);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 50px;
}

.menu-bar ul li{
    float: left;
}

li a, 
.dropbtn{
    font-size: 72px;
    display: inline-block;
    color: #5f1029;
    text-align: center;
    padding: 16px;
    margin-top: 6px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
}

.nav-bar li a:hover, .dropdown:hover, .dropbtn:hover{
    background-color: #ffdee8;
    color: #8b3952;
    border-radius: 50px;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px #8b3952;
    z-index: 1;
    border-radius: 20px;
}

.dropdown:hover.dropdown-content{
    display: block; 
}

.dropdown-content a{
    color: #8b3952;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display:block;
    text-align: left;
}
.nav-img{
    float: left;
    text-transform: uppercase;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 20px;
}
.nav-bar{
    font-family: 'Font-Header';
    margin-bottom: 25px;
    font-size: 20px;
}

@font-face {
    font-family: 'Font-Header';
    src: url(Anja\ Eliane\ accent002.ttf);
}

.home-container{
    width: 100%;
    height: 50vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home-container h1{
    text-align: center;
    
}

.italic{
	font-style: italic;
}

.italic:active{
	color: black;
}

ol{
    list-style-type: upper-roman;
    list-style-position: inside;
    margin-top: -20px;
}

ol li{
    font-size: 17px;
    padding: 5px;
    margin-top: -5px;
}

.profile-card{
    flex: 100%;
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(143, 10, 173, 0.338);
    transition: all .4s;
    margin: 0 20px;
    margin-bottom: 50px;
}

.profile-card:hover{
    border-radius: 20px;
    height: 260px;
}
		
.profile-card .img{
    position: relative;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: 0;
    overflow-y: 0;
}

.caption{
    background-color: white;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -20px;
    width: 190px;    
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.profile-card:hover profile-img{
    border-radius: 10px;
    transform: translateY(-70px);
}


.profile-card:hover .caption{
    opacity: 1;
    pointer-events: all;
}

.caption h3{
    margin-top: 100px;
    font-size: 21px;
    color: #822a46;
	font-weight: 600;
    margin-bottom: 1px;
}

.caption p{
	font-size: 15px;
	font-weight: 500;
	margin: 2px -5px 1px 0;
	text-align: center;
}

.social-links a{
    color: black;
}

.social-links a:active{
    color: black;
}

.social-links a:visited{
    color: #822a46;
}

.caption .social-links i{
    font-size: 16px;
    margin: 0px 3px;
    cursor: pointer;
    color: #822a46;
    transition: all .4s;
}

.caption .social-links{
    margin-top: 1px;
    margin-bottom: 5px;
}

.caption .social-links i:hover{
	color: #822a46;
}

.spotify{
    margin-left: 150px;
    display: inline-block;
}

.text{
    background-color: rgba(255, 255, 255, 0.83);
    box-shadow: -5px 8px 45px rgba(173, 10, 48, 0.338);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 15px;
}

.text p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.text li{
    text-align: justify;
}

.text-2{
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.83);
    box-shadow: -5px 8px 45px rgba(173, 10, 48, 0.338);
    padding: 15px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    margin-bottom: 50px;
}

.text-2 p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.text-2 li{
    text-align: justify;
    font-size: 20px;
}

h1{
    padding-left: 15px;
    color: #822a46;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px
}

h2{
    font-size: 25px;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: -10px;
}

.perkenalan{
    background-color: white;
    box-shadow: -5px 8px 45px rgba(173, 10, 89, 0.338);
    padding: 15px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}


.socials i{
    background-color: #7b2a82;
    border-radius: 50%;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
    color: white;
    transition: all .4s;
}

.socials i:active{
    color: white;
}
.socials i:visited{
    color: white;
}

.socials i:hover{
    transition: all .4s;
    background-color: #c362cc;
}

p a{
    color: rgb(0, 0, 0);
}

p a:active{
    color: #822a46;;
}
p a:visited{
    color: rgb(0, 0, 0);
}

section{
    margin-top: 20px;
    display: flex;
}
    section p{
        padding: 15px;
        width:800px;
        margin-left: 50px;
    }
    .canva, section img, .canva1{
        margin-left: 10px;
        border-radius: 15px;
        margin: 5px;
        transition: all .4s;
    }

    .canva:hover, section img:hover, .canva1:hover{
        transform: translateY(-10px);
        transition: all .4s;
        box-shadow: 0px 8px 16px #8b3952;
    }
    .tiktok{
        margin-left: 10px;
    }

.sections{
    margin-bottom: 30px;
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	min-height: 75px;
}
    .sections button{
        width: 250px;
        height: 50px;
        border: none;
        color: white;
        background-color: #822a46;
        border-radius: 8px;
        border: #520f24 solid 5px;
    }
    .sections a{
        font-size: 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: white;
        transition: all .5s;
    }

    .sections button:hover a{
        font-size: 22px;
        transition: all .5s;
    }

.flex{
    display: flex;
}
    .flex p{
        padding: 15px;
        width: 600px;
        margin-left: 40px;
    }

.text ul{
    font-size: 20px;
}

/* Slideshow container */
.slideshow-container {
    padding-top: 10px;
    width: 1380px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #832445;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #a34264;
  }

.list1{
    background-color: rgba(240, 203, 255, 0.83);
    padding: 20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    border-radius: 20px;
    border: rgb(206, 173, 220) solid 5px;
    width: 590px;
}

.list{
    display: flex;
} 

.list:after {
    content: "";
    display: table;
    clear: both;
  }

.pkn{
    width: 250px;
    height: 50px;
    border: none;
    background-color: #822a46;
    border-radius: 8px;
    border: #520f24 solid 5px;
    font-size: 15px;
}

.pkn a{
    text-decoration: none;
    color: white;
}

.imgs1, .imgs2{
    display: flex;
}
.imgs1 p{
    padding: 15px;
}

.imgs1 img, .imgs2 img{
    border-radius: 15px;
    margin: 5px;
    transition: all .4s;
}

.imgs1 img:hover{
    transform: translateY(-10px);
    transition: all .4s;
    box-shadow: 0px 8px 16px #8b3952;
}

.imgs2 img:hover{
    transform: rotate(-2deg);
    transition: all .4s;
    box-shadow: 0px 8px 16px #8b3952;
}

.image-container {
    position: relative;
    display: inline-block;
  }

  .main-image{
    top: 0;
    left: 0;
  }
  
  .popup-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .image-container:hover .popup-image {
    transform: translateY(-10px);
    transition: all .4s;
    box-shadow: 0px 8px 16px #8b3952;
    opacity: 1;
  }

  .image-container:hover .main-image{
    transform: translateY(-10px);
    opacity: 1;
  }

.youtube{
    border-radius: 15px;
    margin: 5px;
    transition: all .4s;
    width: 1080px;
}
.youtube:hover{
    transform: translateY(-10px);
    transition: all .4s;
    box-shadow: 0px 8px 16px #8b3952;
    width: 1080px;
}
.ytframe{
    text-align: center;
}
.canva1{
    margin-left: 135px;
    margin-right: 135px;
}
